# .gitignore

Open3D/

# パイキャッシュ
__pycache__/

# データセット
data/*
!./data/splits/train_models.json
!./data/splits/val_models.json

# 画像データ
*png
*jpg
!test_image_airplane.png

# 座標データ
*npy
*asc
*ply

# 学習済みデータ
learned_model/

# 画像からの予測点群座標
# predict_points/

# gt座標
gt_points/

# 実験用ファイル
test.py